body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 5%;
    margin-top: 5%;
    text-align: justify
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

.about-area {
    background-image: url(images/frame-1.jpg);
    background-repeat: no-repeat;
}


.service-head {
    text-align: center;
}

.food-item {
    width: 80%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
    text-align: center;
}

.food-item img {
    height: 300px;
    width: 300px;
    border-radius: 20px;

}

.footer-content {
    height: auto;
    padding-top: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: black;